@import "./assets//AperchFont/font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Apercu", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}
